html, body {
  margin: 0;
  height: 100%;
}
#map {
  width: 100%;
  height:100vh;
  position: relative;
  z-index: 0;
}
#overlay {
  top:0;
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: opacity 3s ease-out;
  opacity: 0.8;
  background-color: rgba(0,0,0,0.8);
  /*display:none;*/
  z-index: 0;
}
#opacity-0
{
  opacity: 0;
}

#name-popup{
  display:grid;
  width: 100%;
  height:100vh;
  top: 0;
  position: absolute;
  display: none;
}
#name-popup-container{
  margin: auto;
  background-color: white;
  
  border-radius: 10px;
  text-align: center;
}
#presseausweis{
  width: 40vw;
  border-radius: 10px;
  z-index: -1;
}
#presseausweis-input
{
  font-size: 1.5rem;
}
#presseausweis-input-bild
{
  left: 32.5vw;
  top: 34vh;
  position: absolute;
  width: 10vw;
}
#presseausweis-input-name
{
  position: absolute;
  top: 50vh;
  width: 19.5vw;
  left: 44vw;
  height: 3.5vh;
}
#presseausweis-input-strasse
{
  position: absolute;
    top: 56vh;
    height: 3vh;
    left: 44vw;
    width: 19.5vw;
}
#presseausweis-input-ort
{
  left: 44vw;
  width: 9.75vw;
  position: absolute;
  top: 61.5vh;
  height: 3vh;
}
#presseausweis-input-button{
  position: absolute;
  top: 80vh;
  font-size: 2rem;
}